# Загрузка Pandas и очистка данных

In [1]:
import pandas as pd
import numpy as np

import re

import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [2]:
df_train = pd.read_csv('main_task.csv')
df_test = pd.read_csv('kaggle_task.csv')

In [3]:
# фиксируем RANDOM_SEED для воспроизводимости
RANDOM_SEED = 2021

## Посмотрим, что получили

Подробнее по признакам:
* City: Город 
* Cuisine Style: Кухня
* Ranking: Ранг ресторана относительно других ресторанов в этом городе
* Price Range: Цены в ресторане в 3 категориях
* Number of Reviews: Количество отзывов
* Reviews: 2 последних отзыва и даты этих отзывов
* URL_TA: страница ресторана на 'www.tripadvisor.com' 
* ID_TA: ID ресторана в TripAdvisor
* Rating: Рейтинг ресторана

In [4]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 23.7 MB

In [5]:
df_train.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

- В целевой переменной Rating пропусков нет
- В признаках Cuisine Style, Price Range, Number of Reviews есть пропуски
- Признаки Cuisine Style, Reviews надо разбирать на списки
- Признаки City, Price Range - категориальные
- Что делать с URL_TA пока неясно
- Признаки Restaurant_id и ID_TA считаем бесполезными для предсказания

In [6]:
df_test.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  object
 1   City               10000 non-null  object
 2   Cuisine Style      7693 non-null   object
 3   Ranking            10000 non-null  float64
 4   Price Range        6525 non-null   object
 5   Number of Reviews  9343 non-null   float64
 6   Reviews            9998 non-null   object
 7   URL_TA             10000 non-null  object
 8   ID_TA              10000 non-null  object
dtypes: float64(2), object(7)
memory usage: 5.8 MB

In [7]:
df_test.head()

,Restaurant_id,City,Cuisine Style,Ranking,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_0,Paris,"['Bar', 'Pub']",12963.0,$$ - $$$,4.0,"[[], []]",/Restaurant_Review-g187147-d10746918-Reviews-L...,d10746918
1,id_1,Helsinki,"['European', 'Scandinavian', 'Gluten Free Opti...",106.0,$$ - $$$,97.0,"[['Very good reviews!', 'Fine dining in Hakani...",/Restaurant_Review-g189934-d6674944-Reviews-Ra...,d6674944
2,id_2,Edinburgh,['Vegetarian Friendly'],810.0,$$ - $$$,28.0,"[['Better than the Links', 'Ivy Black'], ['12/...",/Restaurant_Review-g186525-d13129638-Reviews-B...,d13129638
3,id_3,London,"['Italian', 'Mediterranean', 'European', 'Vege...",1669.0,$$$$,202.0,"[['Most exquisite', 'Delicious and authentic']...",/Restaurant_Review-g186338-d680417-Reviews-Qui...,d680417
4,id_4,Bratislava,"['Italian', 'Mediterranean', 'European', 'Seaf...",37.0,$$$$,162.0,"[['Always the best in bratislava', 'Very good ...",/Restaurant_Review-g274924-d1112354-Reviews-Ma...,d1112354

## Готовим объединённый датасет

In [8]:
# делаем имена попроще
df_train.columns = ['Restaurant_id', 'City', 'Cuisine', 'Ranking', 'Rating', 'Price', 'nReviews', 'Reviews', 'URL_TA', 'ID_TA']
df_test.columns = ['Restaurant_id', 'City', 'Cuisine', 'Ranking', 'Price', 'nReviews', 'Reviews', 'URL_TA', 'ID_TA']

In [9]:
df_train['isTrain'] = True # отмечаем где тренировочная часть
df_test['isTrain'] = False
df_test['Rating'] = 0

df_union = df_train.append(df_test, ignore_index=True)
df_union.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Restaurant_id  50000 non-null  object
 1   City           50000 non-null  object
 2   Cuisine        38410 non-null  object
 3   Ranking        50000 non-null  float64
 4   Rating         50000 non-null  float64
 5   Price          32639 non-null  object
 6   nReviews       46800 non-null  float64
 7   Reviews        49998 non-null  object
 8   URL_TA         50000 non-null  object
 9   ID_TA          50000 non-null  object
 10  isTrain        50000 non-null  bool
dtypes: bool(1), float64(3), object(7)
memory usage: 3.9+ MB

In [10]:
# дропаем всё лишнее
df = df_train.drop(columns=['Restaurant_id', 'URL_TA', 'ID_TA'])

## Чистим, заполняем и преобразуем данные

### Price Range

In [11]:
df['Price'].unique()

array(['$$ - $$$', nan, '$$$$', '$'], dtype=object)

In [12]:
price_dict = {'$': 1, '$$ - $$$': 2, '$$$$': 3}
df['Price'] = df['Price'].replace(to_replace=price_dict)
df['Price'].unique()

array([ 2., nan,  3.,  1.])

In [13]:
# посмотрим на средние цены по городам
# df[['City', 'Price']].groupby(by='City').agg(['describe'])
# кардинальной разницы нет, поэтому заполним пропуски средней ценой
# df['Price'] = df['Price'].fillna(2).astype('uint8')
# df['Price'].unique()

In [14]:
# попробуем использовать стоимость, как дробную величину для заполнения пропусков
price_by_city = df[['City', 'Price']].groupby(by='City').agg(['min', 'mean', 'max'])
price_by_city = price_by_city['Price']
# готовим столбец для замены Price на среднее по City
mean_price_values = {price_by_city.index[i]: price_by_city['mean'].values[i] for i in range(price_by_city.shape[0])}
df.loc[df['Price'].isna(), 'Price'] = df['City'].replace(to_replace=mean_price_values)

### City

In [15]:
df['City'].value_counts()

London        5757
Paris         4897
Madrid        3108
Barcelona     2734
Berlin        2155
Milan         2133
Rome          2078
Prague        1443
Lisbon        1300
Vienna        1166
Amsterdam     1086
Brussels      1060
Hamburg        949
Munich         893
Lyon           892
Stockholm      820
Budapest       816
Warsaw         727
Dublin         673
Copenhagen     659
Athens         628
Edinburgh      596
Zurich         538
Oporto         513
Geneva         481
Krakow         443
Oslo           385
Helsinki       376
Bratislava     301
Luxembourg     210
Ljubljana      183
Name: City, dtype: int64

In [16]:
# сделаем признак категориальным
df['City'] = df['City'].astype('category')

### Cuisine Style

In [17]:
# извлекает список значений из строки вида
# ['European', 'French', 'International']
def extract_list(s):
    if pd.notna(s):
        return list(filter(None, re.split("'(.*?)'[,\s]*", s.strip('[]'))))
    else:
        return []

In [18]:
df['Cuisine'] = df['Cuisine'].apply(extract_list)
df['Cuisine']

0                        [European, French, International]
1                                                       []
2        [Japanese, Sushi, Asian, Grill, Vegetarian Fri...
3                                                       []
4          [German, Central European, Vegetarian Friendly]
                               ...
39995    [Italian, Vegetarian Friendly, Vegan Options, ...
39996    [French, American, Bar, European, Vegetarian F...
39997                                    [Japanese, Sushi]
39998    [Polish, European, Eastern European, Central E...
39999                                            [Spanish]
Name: Cuisine, Length: 40000, dtype: object

In [19]:
# сколько всего видов кухни
df['Cuisine'].explode().nunique()

125

In [20]:
# популярность видов кухонь
df['Cuisine'].explode().value_counts()
# есть очень редкие

Vegetarian Friendly    11189
European               10060
Mediterranean           6277
Italian                 5964
Vegan Options           4486
                       ...
Xinjiang                   1
Salvadoran                 1
Burmese                    1
Latvian                    1
Yunnan                     1
Name: Cuisine, Length: 125, dtype: int64

In [21]:
# заполним пропуски отдельной меткой
df['Cuisine'] = df['Cuisine'].apply(lambda x: x if len(x)>0 else ['Unknown'])

### Reviews

In [22]:
# извлекает список списков из строки вида
# [['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]
def extract_list_in_list(s):
    if pd.notna(s):
        return list(filter(None, re.split("\[\[(.*)\],\s\[(.*)\]\]", s)))
    else:
        return ['']

In [23]:
df['Reviews'] = df['Reviews'].apply(extract_list_in_list)
df['ReviewsText'] = df['Reviews'].apply(lambda x: extract_list(x[0]) if x else [])
df['ReviewsDate'] = df['Reviews'].apply(lambda x: list(pd.to_datetime(extract_list(x[1]))) if x else [])
df.drop(columns='Reviews', inplace=True)

In [24]:
df[['ReviewsText', 'ReviewsDate']]

,ReviewsText,ReviewsDate
0,"[Good food at your doorstep, A good hotel rest...","[2017-12-31 00:00:00, 2017-11-20 00:00:00]"
1,"[Unique cuisine, Delicious Nepalese food]","[2017-07-06 00:00:00, 2016-06-19 00:00:00]"
2,"[Catch up with friends, Not exceptional]","[2018-01-08 00:00:00, 2018-01-06 00:00:00]"
3,[],[]
4,"[Best place to try a Bavarian food, Nice build...","[2017-11-18 00:00:00, 2017-02-19 00:00:00]"
...,...,...
39995,"[The real Italian experience!, Wonderful food,...","[2017-12-16 00:00:00, 2017-11-12 00:00:00]"
39996,"[Parisian atmosphere, Bit pricey but interesti...","[2017-12-21 00:00:00, 2017-12-12 00:00:00]"
39997,"[Good by swedish standards, A hidden jewel in ...","[2016-11-03 00:00:00, 2008-04-12 00:00:00]"
39998,"[Underground restaurant, Oldest Restaurant in ...","[2017-07-11 00:00:00, 2017-06-18 00:00:00]"
39999,"[Average, Nice an informal]","[2016-01-31 00:00:00, 2012-07-04 00:00:00]"

### Number of Reviews

In [25]:
# посмотрим какая картина с пропусками
df[df['nReviews'].isna()]

,City,Cuisine,Ranking,Rating,Price,nReviews,isTrain,ReviewsText,ReviewsDate
8,Vienna,[Unknown],2692.0,4.0,1.853933,NaN,True,[],[]
21,Madrid,[Unknown],5847.0,4.0,1.849827,NaN,True,[],[]
32,Budapest,[Unknown],1328.0,5.0,1.710197,NaN,True,"[Absolutely amazing, tasty, fresh, cheap Ch...]",[2015-10-26 00:00:00]
102,Budapest,"[French, European, Hungarian]",1410.0,5.0,1.710197,NaN,True,[],[]
108,Prague,"[Italian, Mediterranean]",2050.0,5.0,2.000000,NaN,True,[],[]
...,...,...,...,...,...,...,...,...,...
39965,Rome,[Unknown],5722.0,5.0,1.723804,NaN,True,[],[]
39972,Prague,"[Cafe, Delicatessen, Healthy, Wine Bar, Street...",2012.0,5.0,1.000000,NaN,True,[Personal expirence],[2017-10-27 00:00:00]
39986,Madrid,[Unknown],7279.0,3.0,1.849827,NaN,True,[],[]
39988,Berlin,[Unknown],4970.0,4.0,1.754799,NaN,True,[],[]
39989,London,[International],8896.0,5.0,1.804437,NaN,True,[I love this place!],[2015-08-24 00:00:00]

In [26]:
# заполним пропуски медианным значением
df.loc[df['nReviews'].isna(), 'nReviews'] = df['nReviews'].median()
# и приведем тип
df['nReviews'] = df['nReviews'].astype('uint')

## Генерируем новые признаки

In [27]:
# добавим признак количества представленных кухонь
df['nCuisine'] = df['Cuisine'].apply(len)

In [28]:
# добавим среднюю оценку ресторанов по городу
rating_by_city = df[['City', 'Rating']].groupby(by='City').agg(['min', 'mean', 'std', 'max'])
rating_by_city = rating_by_city['Rating']
mean_rating_values = {rating_by_city.index[i]: rating_by_city['mean'].values[i] for i in range(rating_by_city.shape[0])}
df['MeanCityRating'] = df['City'].replace(to_replace=mean_rating_values)

In [29]:
# добавим среднее отклонение рейтинга по городу
std_rating_values = {rating_by_city.index[i]: rating_by_city['std'].values[i] for i in range(rating_by_city.shape[0])}
df['StdCityRating'] = df['City'].replace(to_replace=std_rating_values)

In [30]:
# нормируем ранг ресторана в городе из диапазона 1..max в 0..1
# первый номер будет 0,9999 и так далее
ranking_by_city = df[['City', 'Ranking']].groupby(by='City').agg(['describe'])
ranking_by_city = ranking_by_city['Ranking']['describe']
# максимальный номер в городе
max_ranking_values = {ranking_by_city.index[i]: ranking_by_city['max'].values[i] for i in range(ranking_by_city.shape[0])}
df['MaxRank'] = df['City'].replace(to_replace=max_ranking_values)
df['RelRank'] = (df['MaxRank'] - df['Ranking']) / df['MaxRank']
df.drop(columns='MaxRank', inplace=True)

In [31]:
# признак того, сколько дней прошло со времени последнего отзыва
# будем считать, что сейчас 1 января 2020
max_date = df['ReviewsDate'].explode().max()
min_date = df['ReviewsDate'].explode().min()
# все пропуски отметим, как самые старые
df['nDaysReviews'] = df['ReviewsDate'].apply(lambda x: (max_date - max(x)).days if x else (max_date - min_date).days)

In [32]:
# категориальный City в dummy
# df = df.append(pd.get_dummies(df['City'], prefix='City'))

In [33]:
# категориальный Cuisine в dummy
# df = df.append(pd.get_dummies(df['Cuisine'].explode(), prefix='Cuisine'))

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City            40000 non-null  category
 1   Cuisine         40000 non-null  object
 2   Ranking         40000 non-null  float64
 3   Rating          40000 non-null  float64
 4   Price           40000 non-null  float64
 5   nReviews        40000 non-null  uint32
 6   isTrain         40000 non-null  bool
 7   ReviewsText     40000 non-null  object
 8   ReviewsDate     40000 non-null  object
 9   nCuisine        40000 non-null  int64
 10  MeanCityRating  40000 non-null  float64
 11  StdCityRating   40000 non-null  float64
 12  RelRank         40000 non-null  float64
 13  nDaysReviews    40000 non-null  int64
dtypes: bool(1), category(1), float64(6), int64(2), object(3), uint32(1)
memory usage: 3.6+ MB

In [35]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.select_dtypes(include='number').drop('Rating', axis=1)
print(X.columns)
y = df['Rating']

Index(['Ranking', 'Price', 'nReviews', 'nCuisine', 'MeanCityRating',
       'StdCityRating', 'RelRank', 'nDaysReviews'],
      dtype='object')

In [36]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [37]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [38]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [39]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [40]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.20659349999999999